.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: var(--light-gray);
  padding: 20px;
}

.header .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.header .container .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heaer .logo {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.header .nav a {
  font-family: "Playfair Display", serif;
}
