* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

:root {
  --white: #fafafa;
  --black: #141414;
  --dark-gray: #949292;
  --light-gray: #f0f0f0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-color: var(--white);
  color: var(--black);
}

.heading {
  font-size: 30px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

p {
  font-size: 15px;
  line-height: 1.45;
}

img {
  width: 100%;
}
