* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

:root {
  --white: #fafafa;
  --black: #141414;
  --dark-gray: #484848;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-color: var(--white);
}
