@import "../../config";

.post {
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    opacity: 0.8;
  }

  .text {
    padding: 10px 15px;

    .heading {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
      line-height: 1.45;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      margin-bottom: 20px;
    }

    .line {
      width: 50%;
      height: 1px;
      background-color: $black;
    }
  }
}
