.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: var(--light-gray);
  padding: 10px 0;
}

.header .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.header .container .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 20px;
}

.header .nav a {
  font-family: "Playfair Display", serif;
  font-size: 15px;
  font-weight: 400px;
  text-decoration: none;
  color: var(--dark-gray);
  transition: all 0.3s ease;
}

.nav a:hover {
  color: var(--black);
}

.logout-btn {
  font-family: "Playfair Display", serif;
  font-size: 15px;
  font-weight: 400px;
  text-decoration: none;
  color: var(--dark-gray);
  transition: all 0.3s ease;
  cursor: pointer;
}

.logout-btn:hover {
  color: var(--black);
}
